*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root.light {
  --background-color-primary: #eff1f5;
  --background-color-secondary: #dadfe8;
  --accent-color:  rgba(147, 112, 219, 0.3);
  --text-primary-color: #4c4f69;
  --link-color: mediumpurple;
  --success-bg: #70DB93;
}

:root.dark {
  --background-color-primary: #10131a;
  --background-color-secondary: #1d222f;
  --accent-color: rgba(126,85,212, 0.5);
  --text-primary-color: #d0d6e1;
  --link-color: mediumpurple;
  --success-bg: #208140;
}

body {
  background-color: var(--background-color-primary);
  color: var(--text-primary-color);
  padding: 12px 1rem;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

button {
  cursor: pointer;
}

a {
  color: var(--link-color);
}
